<%#
    This file is based the templaates/schemata.md.erb of prmd 0.7.0
    https://github.com/interagent/prmd/blob/v0.7.0/lib/prmd/templates/schemata.md.erb

    We added the following changes to the original erb template file:
        * added permalink to the title of resource
        * remove resource attribute table
%>
<%-
  return unless schemata.has_key?('links') && !schemata['links'].empty?

  Prmd::Template.render('schemata/helper.erb', options[:template], {
    options:         options,
    resource:        resource,
    schema:          schema,
    schemata:        schemata
  })

  title = schemata['title'].split(' - ', 2).last
-%>
<%- unless options[:doc][:disable_title_and_description] %>
## <a name="<%= title %>"></a> <%= title %>
<%= schemata['description'] %>
<%- end -%>

<%- schemata['links'].each do |link, datum| %>
<%=
  Prmd::Template.render('schemata/link.md.erb', options[:template], {
    options:         options,
    resource:        resource,
    schema:          schema,
    schemata:        schemata,
    link:            link,
    title:           title
  })
%>
<%- end -%>
